a {
    color: #fde51c;
}

a:hover,
a:visited{
    color: #eabc1b;
}

body{
    overflow-x: hidden;
    font-size: 1.5em;
    color: #363535;
    background: linear-gradient(45deg,  #0af3b3, #fde51c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;
}

@-webkit-keyframes AnimationName {
     0%{background-position:0% 92%}
     50%{background-position:100% 9%}
     100%{background-position:0% 92%}
 }
@-moz-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

.btn{
    margin: 1em;
    font-size: 0.8em;
}

.btn-row{
    position: absolute;
    bottom: 0.1em;
    right: 1.1em;
}

.btn-raised{
    background: #0af3b3;
    border-radius: .3em;
    color: #fff;
    float: right;
}

.close {
    color: #d2d0d0;
    font-size: 28px;
    font-weight: bold;
    float: right;
    margin: 0.1em;
}

.close:hover,
.close:focus {
    color: #363535;
    text-decoration: none;
    cursor: pointer;
}

footer{
    margin-top: 2%;
    background: #363535;
    padding: 0.5em;
    color: #d2d0d0;
}

.form-check-label{
    font-weight: lighter;
    font-size: 1em;
}

.logo-text{
    text-align: center;
    position: absolute;
    top: 1.5em;
}

.modal-title{
    font-size: 1.5em;
}

.modal-content {
    border-radius: 1rem;
}

#playlist{
    margin: 0.5em;
    width: 30%;
    min-height: 20em;
    font-size: 1em;
    border-radius: 1em;
}

#playlist-gallery{
    margin: 5% 5%;
}

.question-col{
    padding: 0;
}

.radio-label{
    margin-left: 1.2em;
}

.song-list{
    list-style-type: none;
    padding: 0.5em;
}

.song-label{
    font-size: 0.9em;
    font-weight: lighter;
}

